<extend name="$uitpl"/>
<block name="css">
    <foreach name="css" item="file">
        <link rel="stylesheet" href="__PUBLIC__/{$file}" media="all">
    </foreach>
</block>
<block name="style">
    <style>
        {$style}
    </style>
</block>
<block name="body">
    {$content}
</block>
<block name="script">
    <foreach name="js" item="file">
    <script src="__PUBLIC__/{$file}" charset="utf-8"></script>
    </foreach>
<script>
    layui.use(['form'{$laymodule}], function () {
        var $ = layui.jquery,
            form = layui.form;
        {$script}
    });
</script>
</block>